<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/Sephora.jpg" />

	<title>Sephora</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Telex&display=swap" rel="stylesheet">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<% if (locals.user != undefined) { %>
		<%- include('./partials/headerLogueado') %>
	<% } else { %>
		<%- include('./partials/header') %>
	<% } %>
	<!-- /Header -->
	
	<!-- product detail -->
		<div class="container products-wrapper">
			<div class="d-flex align-items-center">
				<h2 class="products-title"><%=listado.productname%></h2> 
				<p class="product-detail-description">
					<a href="/product/product-add">Editar</a>
				</p>
			</div>
			<div class="product-detail">
				<div class="row">
					<article class="col-12 col-lg-8 product-detail-info">
						<img src="<%=listado.productimage%>" alt="" class="product-detail-img">
						<p class="product-detail-description">
							<%=listado.productdescription%></p>
					</article>
					<div class="col-12 col-lg-4">
						<section class="comments">
							<% for( let i = 0; i < listado.comments.length; i++ ) { %>
								<article>
									<img src="<%=listado.comments[i].user.profileimage%>" alt="">
									<div class="data">
										<p class="user">
										<strong> <a href="/users/profile/"><%=listado.comments[i].user.username%></a> </strong>
										<%=listado.comments[i].commenttext%></p>
									</div>
								</article>
							<% } %>
						</section>
						<form class="form" action="/product/<%=listado.id%>/comment" method="post">
							<input class="form-input" type="text" value="" placeholder="Agregar comentario" name="productcomment">
							<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
						</form>
						<hr>
					</div>
				</div>
			</div>
		</div> 


	<!-- /product detail -->

	<!-- footer -->
	<%- include('./partials/footer') %>
	<!-- /footer -->

</body>	
</html>